.App {

  min-height: 100vh;
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #6f38d6;
}


.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border:none;
  padding: 10px;
}

.search-button {
  background:#6c7df0;
  border:none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}